<!DOCTYPE html>
<html>
    <head>
        <title>Alberto Secci ● Home</title>
        <link rel="stylesheet" href="../styles/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
        <link rel='icon' href='../images/favicon.ico' type='image/x-icon'/ >
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, SCSS, Javascript">
        <meta name="author" content="Alberto Secci">
    </head>
    <body>
        <div class="container">      
            <header>
                <div class="header">
                    <div class="logo logo-extended randomBack">Alberto Secci</div>
                    <div class="social-buttons">
                        <div class="social-icon" id="social-linkedin">
                            <a href="https://www.linkedin.com/in/alberto-secci-b15530124/" target="_blank">
                                <img src="../images/social-linkedin.png" alt="Linkedin Icon">
                            </a>
                        </div>
                        <div class="social-icon" id="social-instagram">
                            <a href="https://www.instagram.com/sicciaman/" target="_blank">
                                <img src="../images/social-instagram.png" alt="Instagram Icon">
                            </a>
                        </div>
                        <div class="social-icon" id="social-github">
                            <a href="https://github.com/sicciaman" target="_blank">
                                <img src="../images/social-github.png" alt="Github Icon">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div id="col-background"></div>  
            <div id="content">     
            </div>
            <footer>
                <div class="randomBack" id="credits">
                    <p>2020 © Alberto Secci</p>
                </div>
            </footer>

        </div>     
    </body>

    <script src="../script/main.js" type="module"></script>
</html>